{:paths ["src" "resources"]
 :deps
 {com.lambdaisland/config {:mvn/version "0.9.34"}
  com.lambdaisland/makina {:local/root "/home/arne/lambdaisland/makina"}
  com.lambdaisland/cli {:mvn/version "0.24.97"}
  com.s-exp/hirundo {:mvn/version "0.1.43"}
  org.apache.logging.log4j/log4j-api {:mvn/version "2.25.1"}
  org.apache.logging.log4j/log4j-core {:mvn/version "2.25.1"}
  org.apache.logging.log4j/log4j-slf4j2-impl {:mvn/version "2.25.1"}
  io.helidon.logging/helidon-logging-log4j {:mvn/version "4.3.0-M1"}
  org.apache.logging.log4j/log4j-layout-template-json {:mvn/version "2.25.1"}
  com.fasterxml.jackson.core/jackson-core {:mvn/version "2.19.2"}
  com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.19.2"}}

 :aliases
 {:dev
  {:replace-paths ["dev" "src" "resources"]
   :extra-deps {org.clojure/tools.namespace {:mvn/version "1.5.0"}}}}}
