{:dev/route-var-handlers true
 :db/url "jdbc:postgresql://localhost:15432/oak"
 :db/username "oak"
 :db/password "oak"

 :http/csp-policy "default-src 'self'; script-src 'self' 'nonce-random_value'; style-src 'self' 'unsafe-inline'; img-src 'self' data:;"
 }
