{:db/admin-config {:url "jdbc:postgresql://localhost:15432/postgres"
                   :username "postgres"
                   :password "oak"}
 :db/url "jdbc:postgresql://localhost:15432/oak_test"
 :db/username "oak"
 :db/password "oak"
 }
